body {
	font: 13px Arial, Helvetica, sans-serif;
	color:#555;
	margin: 5px;
	background-color:#FFF;
}

a {
	color: #00F;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color: #F00;
	font-weight:bold;
	text-decoration:underline;
}
#header {
	position:relative;
	width: 100%;
	height:50px;
	border-bottom: #CCC solid 1px;
	color: #FFF;
	text-shadow: 3px 3px 8px #000;
	font: bold 18px/50px Verdana, Geneva, sans-serif;
	text-align:left;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	border-radius: 10px;

}
#content {
	padding: 10px 5px 10px 210px;
}
.PageTitle {
  position: relative;
  font: bold 1.2em arial;
  color: #9d9d9d;
  text-shadow: 1px 1px 0 #000000,1px 1px 0 #000000;
  border-bottom: #ff851a solid 2px;
  margin-bottom: 15px;
}


#navBlock {
    position: relative;
    margin-top: 10px;
    float: left;
    width: 200px;
    border: 1px solid #777777;
    margin-right: 10px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFFFFF;
}
#navHeader{
    position: relative;
    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #777777;
    background: #cedce7; /* Old browsers */
    background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}
.navItem {
    position: relative;
    height: 20px;
    line-height: 20px;
    background: #0000FF;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}
.navItem:hover {
    background: #39ff1e;
    color: #000000;
}

#contentBody{
    position: relative;
    float: left;
}

#loginFrame {
    padding: 5px;
}

#loginFrame .msgTitle {
    font-weight: bold;
    margin: 10px 0 10px 0;
}

#loginFrame .buttonBar {
    margin-top: 10px;
    border-top: #777777 solid 1px;
    padding-top: 5px;
    text-align: right;
}

.sectionHeader {
    position: relative;
    font: bold 24px arial;
    color: #202f40;
    padding-bottom: 3px;
    border-bottom: #ff7700 solid 1px;
}
.setionSearch {
    position: relative;
    padding: 5px;
    margin-top: 5px;
    border: #AAAAAA solid 1px;
}
.productListItem {
    position: relative;
    margin-top: 10px;
    height: 160px;
    border: #777777 solid 1px;
    overflow: hidden;
}

.productListItemImageFrame {
    position: relative;
    float: left;
    border: #CCCCCC dotted 1px;
    margin: 5px;
    height:150px;
    width: 150px;
    background-size: contain;
}

.prodTitle {
    position: relative;
    margin: 5px 0 2px 157px;
    font: bold 18px/25px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #202f40;
    height: 25px;
    border-bottom: #777777 solid 1px;
    padding: 0 0 2px 5px;
    background: #EEEEEE;
}
.prodDesc {
    position: relative;
    margin: 5px 5px 0 160px;
    height: 82px;
}
.prodOptionsFrame {
    position: relative;
    margin: 5px 0 0 157px;
    border-top: #777777 solid 1px;
    height: 28px;
    padding: 3px 5px 0 10px;
    background: #CCCCCC;
}
.prodOptionsFrame div {
    display: inline-block;
}
.prodPriceQtyFrame {
    float: left;
}
.prodPrice {
    font-weight: bold;
    margin-right: 20px;
    color: #000000;
}
.prodQty {
    font-weight: bold;
}
.prodQtyFld input {
    width: 50px;
    text-align: center;
}

.prodAddToCart {
    float: right;
}

#footer {
	position: absolute;
	bottom: 0px;
	left:0px;
	width: 100%;
	height:30px;
	border-top: #CCC solid 1px;
	color:#777;
	font: bold 12px/30px Arial;
	text-align:center;
	padding-top: 5px;
}

#contentLogin {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  border: #777777 solid 1px;
  z-index: 1;
  background: rgb(245,246,246);
  background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
  background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}
#contentLogin input {
  width: calc(100% - 5px);
}
#contentLogin .titleBar {
  position: relative;
  height: 30px;
  color: #FFFFFF;
  font: 1.2em/30px "Calibri", "Verdana", "Arial", "Helvetica";
  text-shadow: 1px 1px 3px #222222;
  padding-left: 10px;
  background: rgb(206,220,231);
  background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
  background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
}

.menuSep {
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  border-top: #868686 solid 1px;
}

.displayPane {
  position: relative;
  border: #777777 solid 1px;
  border-radius: 5px;
  padding: 20px 5px 5px 5px;
  background: #ffffff;
  width: calc(100% - 15px);
  z-index: 1;
}
.displayPane .displayPaneCaption {
  position:absolute;
  top: -8px;
  left: 10px;
  border: #777777 solid 1px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
  background: #eaeaea;
  font-weight: bold;
  z-index: 1;
}

table {
  border-collapse: collapse;
}

/* remove padding */
td, th {
  padding: 3px;
}
tr.hl:hover {
  background: blue;
  color: #FFFFFF;
}
.optBar {
  position: relative;
  margin-top: 20px;
  border-top: #777777 1px solid;
  padding-top: 5px;
}